* {
    -fx-BlueBase: #357ebd;
    -fx-BlueLight: #428bca;
    -fx-GreenBase: #449d44;
    -fx-GreenLight: #5cb85c;
    -fx-RedBase: #c9302c;
    -fx-RedLight: #d9534f;
}

.contentTab {
    -fx-background-image: url('blue-grid.jpg');
    -fx-orientation: horizontal;
    -fx-alignment: center;
    -fx-hgap: 10;
    -fx-vgap: 20;
    -fx-padding: 30;
}

.event {
    -fx-background-color: WHITE;
    -fx-background-radius: 10;
    -fx-border-style: solid;
    -fx-border-radius: 10;
    -fx-border-width: 2;
    -fx-border-insets: -1;
}

.fields {
    -fx-padding: 5px;
    -fx-spacing: 5px;
}

.event-blue {
    -fx-border-color: -fx-BlueBase;
}

.event-green {
    -fx-border-color: -fx-GreenBase;
}

.event-red {
    -fx-border-color: -fx-RedBase;
}

.header {
    -fx-background-radius: 10 10 0 0;
    -fx-padding: 3;
    -fx-background-insets: -2;
    -fx-translate-y: -2;
    -fx-alignment: top-center;
}

.header-green {
    -fx-background-color: linear-gradient(-fx-GreenLight 0, -fx-GreenBase 100%);
}

.header-red {
    -fx-background-color: linear-gradient(-fx-RedLight 0, -fx-RedBase 100%);
}

.header-blue {
    -fx-background-color: linear-gradient(-fx-BlueLight 0, -fx-BlueBase 100%);
}

.header-text {
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-fill: WHITE;
}

.tab-header-background {
    -fx-background-color: #6BACF5;
}

/*
.tab:hover {
    -fx-background-color: #3F8AD4;
}
*/
